@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", serif;
  position: relative;
  background-color: #eee;
}

.container-box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 653px) {
  .container-box {
    width: 600px;
  }
}


@media (min-width: 753px) {
  .container-box {
    width: 700px;
  }
}

@media (min-width: 853px) {
  .container-box {
    width: 800px;
  }
}


@media (min-width: 973px) {
  .container-box {
    width: 920px;
  }
}

@media (min-width: 1053px) {
  .container-box {
    width: 1000px;
  }
}

@media (min-width: 1123px) {
  .container-box {
    width: 1070px;
  }
}


@media (min-width: 1200px) {
  .container-box {
    width: 1149px;
  }
}

