.reset-pass {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @media (max-width: 500px) {
    background-color: white;
  }
  .reset-pass-box {
    background-color: white;
    width: 500px;
    padding: 20px 30px;
    border-radius: 6px;

    h2 {
      color: #155dfc;
      font-size: 30px;
      text-align: center;
    }
    & > p {
      color: rgb(134, 134, 134);
      text-align: center;
    }

    form {
      margin-top: 20px;
      label {
        color: #333;
        display: block;
        margin: 0 1px;
      }

      input {
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        border: 1px solid rgb(198, 192, 192);
        border-radius: 5px;
        outline: none;
        &:focus {
          border: 2px solid blue;
        }

        &::placeholder {
          color: rgb(134, 134, 134);
        }
      }

      .input-cover {
        position: relative;
        width: 100%;
        button {
          background-color: white;
          position: absolute;
          top: 9px;
          font-size: 20px;
          border: none;
          svg {
            fill: rgb(134, 134, 134);
          }
        }
      }

      .confirm-password {
        margin-top: 20px;
        .input-cover {
          margin-bottom: 3px;
        }
      }

      .submit-btn {
        background-color: #155dfc;
        color: white;
        width: 100%;
        padding: 15px 30px;
        margin-top: 30px;
        font-size: 16px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
    }
  }

  .error-text {
    color: red;
    font-size: 14px;
  }

  .error-star {
    color: red;
    font-weight: bold;
  }
}
