.Home {
  background-color: #eee;
  margin-bottom: 20px;

  .container {
    margin-top: 20px;

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-top: 20px;
      user-select: none;

      .pagination-item {
        background-color: blue;
        color: white;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        border: 1px solid blue;

        &:hover {
          background-color: darkblue;
        }

        &.active {
          background-color: transparent;
          color: blue;
        }
      }

      .pagination-arrow {
        background-color: white;
        border: 1px solid blue;
        color: blue;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: blue;
          color: white;
        }
      }
    }
  }
}
