.copy-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;

  &:hover {
    background-color: #0056b3;
  }
}

.copied {
  background-color: rgb(52, 216, 30) !important; // اللون الأخضر
  color: white;
}