@use "sass:color";


$primary-color: #3498db;
$secondary-color: #2ecc71;
$bg-color: #f8f9fa;
$text-color: #333;
$border-color: #ddd;

.add-employee {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $bg-color;
  font-family: "Cairo", sans-serif;
  width: 100%;

  .form-container {
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    text-align: center;

    h2 {
      margin-bottom: 20px;
      color: $primary-color;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 15px;

        label {
          font-weight: bold;
          margin-bottom: 5px;
          color: $text-color;
        }

        input {
          padding: 10px;
          border: 1px solid $border-color;
          border-radius: 5px;
          font-size: 16px;
          outline: none;
          transition: border 0.3s;
          width: 100%;

          &:focus {
            border-color: $primary-color;
          }
        }
      }

      .btn-submit {
        background-color: $primary-color;
        color: white;
        padding: 12px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: color.adjust($primary-color, $lightness: -10%);
        }
      }
    }
  }
}

// 🔹 تصميم متجاوب
@media (max-width: 480px) {
  .form-container {
    padding: 20px;
  }

  .btn-submit {
    font-size: 16px;
    padding: 10px;
  }
}

.cover {
  position: relative;
  width: 100%;
  button {
    background: none;
    position: absolute;
    top: 9px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    svg {
      fill: rgb(134, 134, 134);
    }
  }
}

.shifts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  .form-group {
    width: 100%;
  }
}

.error-text {
  color: red;
  font-size: 14px;
}

.error-star {
  color: red;
  font-weight: bold;
}
