.loading-button {
  border-radius: 50%;
  border: 3px solid white;
  border-right-color: transparent;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(365deg);
  }
}